@font-face {
  font-family: "Folks";
  src: url("Folks-Bold.ttf");
}
@font-face {
  font-family: "Sketch";
  src: url("Sketch 3D.otf");
}
@font-face {
  font-family: "Batman";
  src: url("BATMAN.TTF");
}
body{
  font-family: 'Folks', sans-serif;
}
.header{
  font-family: 'Batman', sans-serif;
}
#hero-title>span {
    font-family: "font", Helvetica, Arial, sans-serif;
    font-size: 1em ;
}
#titlePage{
  font-family: 'Sketch', sans-serif;
    font-size: 3em !important;
}
.circular {
	width: 200px;
	height: 200px;
	border-radius: 50px;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	background: url(../images/photo1.png) no-repeat;
  margin : 0 auto;
}

.circular1 {
	width: 200px;
	height: 200px;
	border-radius: 50px;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	background: url(../images/photo2.png) no-repeat;
  margin : 0 auto;
}
