body{
  font-family: 'Open Sans', sans-serif;
}
#hero-title>span {
    font-family: "font", Helvetica, Arial, sans-serif;
    font-size: 1em;
}
.circular {
	width: 200px;
	height: 200px;
	border-radius: 50px;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	background: url(../images/perso1.jpg) no-repeat;
  margin : 0 auto;
}
